/*=============== Video conferencia ===============*/

.animate {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.home-video {
  text-align: center;
  padding: 30px 0 30px;
}

.home-video .common-video {
  background-color: #fff;
}

.home-video .common-video figure {
  overflow: hidden;
  width: 100%;
  height: 196px;
}

.home-video img {
    width: 100%;
    height: auto;
}

.home-video .common-video h5 {
  margin: 0 0 7px;
  font-size: 18px;
  font-weight: 700;
  color: #3a3c41;
}
.home-video .common-video .for-border {
  margin-bottom: 20px;
}
.home-video .common-video .text-content {
  padding: 19px 14px 13px;
}
.home-video.doctors-var-two {
  text-align: left;
  background-color: #fff;
}
.home-video.doctors-var-two .slogan-section {
  text-align: left;
}
.home-video.doctors-var-two .common-video {
  background-color: transparent;
}
.home-video.doctors-var-two .common-video .for-border {
  display: none;
}
.home-video.doctors-var-two .common-video .text-content {
  padding: 20px 0 20px;
}
.home-video.doctors-var-two .text-center {
  text-align: left;
}

.home-video .common-video .for-border {
    margin-bottom: 20px;
}

.center-all {
  margin-left: 40px;
}

.doc-img{
     /* Webkit for Chrome and Safari */
  -webkit-transform: scale(1, 1); // This is the scale for the normal size of the image.
  -webkit-transition-duration: 500ms;
  -webkit-transition-timing-function: ease-out;
 
  /* Webkit for Mozila Firefox */
  -moz-transform: scale(1, 1);
  -moz-transition-duration: 500ms;
  -moz-transition-timing-function: ease-out;
 
  /* Webkit for IE( Version: 11, 10 ) */
  -ms-transform: scale(1, 1);
  -ms-transition-duration: 500ms;
  -ms-transition-timing-function: ease-out;
}

.doc-item:hover .doc-img{
     /* Webkit for Chrome and Safari */
  -webkit-transform: scale(1.2, 1.2); // This is the enlarged size scale of the image.
  -webkit-transition-duration: 500ms;
  -webkit-transition-timing-function: ease-out;
 
  /* Webkit for Mozila Firefox */
  -moz-transform: scale(1.2, 1.2);
  -moz-transition-duration: 500ms;
  -moz-transition-timing-function: ease-out;
 
  /* Webkit for IE( Version: 11, 10 ) */
  -ms-transform: scale(1.20, 1.20);
  -ms-transition-duration: 500ms;
  -ms-transition-timing-function: ease-out;

  opacity: 0.7;
}

/*=============== OpenTok ===============*/

.opentok_console {
   
    margin-left: 100px;
    width: 600px;
}
.links {
    float: left;
    width: 200px;
    border: 1px solid #0042a9;
    background-color: #FFFFFF;
}
.videos 
{ float:right; width:361px; }
.publisherContainer {
        height:347px;
        width:361px;
        float:left;
        border:1px solid #0042a9;
		margin-top:2px;
   
		background-color:#FFFFFF;
    }
.subscribersContainer {
        height:347px;
        width:361px;				
        border:1px solid #0042a9;
      
		background-color:#FFFFFF;
		margin-top: 415px;
        
    }
#acceptCallBox {
    display: none;
    z-index: 2;
    position: absolute;
    top: 100px;
    left: 400px;
    border: #0042a9 solid 2px;
    background-color: #0072C6;
    padding: 15px;
}

#calling{
    display: none;
    z-index: 2;
    position: absolute;
    top: 100px;
    left: 400px;
    padding: 15px;
}

#onlineusers {
min-height: 20px;        
}

.header {
    background-color: pink;
    font-weight:bold;
}

